<app-user-management-header></app-user-management-header>
<section class="forgot-password-section">
  <form
    [formGroup]="forgotForm"
    (ngSubmit)="demoAccess(forgotForm.valid, forgotForm.value)"
    class="row forgot-password-container"
  >
    <div class="col-12">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h2 class="forgot-password-title">Forgot Password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-11 mx-auto">
          <p
            [ngClass]="showSuccessMsg ? 'show-success-msg' : ''"
            class="success-msg"
          >
            {{ this.successMessage }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-11 mx-auto">
          <p
            [ngClass]="showFailureMsg ? 'show-failure-msg' : 'hide-failure-msg'"
            class="failure-msg"
          >
            {{ this.errorMessage }}
          </p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12 text-center">
          <p class="sub-heading">
            Forgot Password : Televisory Data Analytics Platform
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 mx-auto text-center">
          <input
            class="form-control shadow-none"
            type="email"
            formControlName="userEmail"
            [placeholder]="'Enter your Email Address'"
          />
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12 text-center">
          <span
            [ngClass]="showFieldRequired ? 'show-field' : 'hide-field'"
            class="field-required"
            >This field is required.</span
          >
          <span
            [ngClass]="emailRequired ? 'show-field' : 'hide-field'"
            class="field-required"
            >Please enter a valid email address.</span
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <button type="submit" class="form-btn forgot-submit-btn">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
  <footer class="container-fluid telFooter">
    <div class="row">
      <div class="col-sm-4">
        <p class="mb-0 px-3">
          Copyright © 2022 Televisory <span class="px-1">|</span> All Rights
          Reserved
        </p>
      </div>
      <div class="col-sm-8">
        <ul class="mb-0 text-white">
          <li class="">
            <a href="https://televisory.com/terms-of-use">Terms of Use</a>
          </li>
          <li class="">
            <a href="https://televisory.com/terms-of-access">Terms of Access</a>
          </li>
          <li class="">
            <a href="https://televisory.com/policy">Privacy Policy</a>
          </li>
          <li class="">
            <a href="https://televisory.com/sitemap">Site map </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</section>
