<div class="fixed-income container-fluid">
  <div class="d-flex mt-2 justify-content-between">
    <div class="d-flex align-items-center justify-content-start flex-fill">
      <span class="fixed-income-title">FIXED INCOME DASHBOARD</span>
      <span class="fixed-income-template ml-4">Template</span>
      <ng-select2
        class="cusSelect2 cusSelect2_10rem ml-2"
        [placeholder]="'Instrument'"
      ></ng-select2>
      <span class="ml-3 pointer" (click)="auth.closeInsidePopup = true"
        >Create Template</span
      >
    </div>
    <div class="d-flex align-items-center justify-content-end flex-fill">
      <button class="btn">ADVANCE SEARCH</button>
      <ng-select2
        class="cusSelect2 cusSelect2_14rem ml-2"
        [placeholder]="'Select Instrument'"
      ></ng-select2>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
    <div class="btn-group newcompny-tabs">
      <button
        *ngFor="let button of buttons"
        fragment="management_tab"
        type="button"
        class="btn"
        (click)="headerButtonFucntion(button.id)"
        [ngClass]="{
          active: button.id == buttonactive
        }"
      >
        {{ button.title }}
      </button>
    </div>
    <div class="d-flex">
      Table Results:
      <span
        *ngFor="let page of tablePagiantion"
        class="cursor-pointer"
        [ngClass]="{
          pageActive: page.id == pageActive
        }"
        (click)="onPaginationClicked(page.id)"
      >
        {{ page.text }} |
      </span>
    </div>
  </div>
</div>

<!-- Template Model -->
<app-template-model *ngIf="auth.closeInsidePopup"></app-template-model>
