.forextab {
  color: #ffc000;
  padding: 5px;

  .pagination-container {
    font-size: 12px;
    // visibility: hidden;
  }

  .chart {
    height: 45%;
    ::ng-deep iframe {
      min-height: 15rem !important;
    }
  }

  .chart-dashboard {
    ::ng-deep iframe {
      min-height: 30rem !important;
    }
  }
  .chart-container {
    height: 500px;
    width: 100%;
  }
  .chart-container-bottom {
    height: 300px;
    width: 100%;
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;

      .header-title {
        margin: 0px;
        font-size: 15px;
      }
    }

    .commodityChart {
      width: 100%;
      height: 250px;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    .header-title {
      margin: 0px;
      font-size: 15px;
    }
    .page-ref {
      margin: 0px;
      font-size: 12px;
    }
    .pagination {
      font-size: 12px;
    }
    .icon {
      color: white;
    }
    .pageActive {
      color: white;
    }
  }
  .newcompny-tabs {
    margin-top: 2px;
    text-align: center;
    padding: 5px;

    .btn {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background: 0;
      border: 1px solid #ffc000;
      color: #ffc000;
      font-size: 13px;
      padding: 6px 10px;
      flex: none;
      width: 129px;
    }

    .active {
      color: #333 !important;
      background: #ffc000;
    }
  }

  .btn_link {
    background: #fbe5c6;
    color: #333;
    border: 1px solid #ffc000;
    padding: 4px 10px;
    width: 129px;
    border-radius: 4px;
    height: 29px;
  }
  .active1 {
    background: #ffc000;
    color: #333;
    box-shadow: none;
    border: 1px solid #ffc000;
  }
  .container-right {
    flex: 0.6;
  }
  .container-left {
    flex: 0.4;
  }
  .tab-header {
    font-size: 18px;
    margin: 0px;
  }
  .background-with-border {
    background: #161d34;
    border: 1px solid #507ac4;
  }
  .table-right {
    flex: 0.5;
  }
  .width-50 {
    width: 48.8%;
  }
  .table-left {
    flex: 0.5;
    margin-left: 1px;
  }

  .stocktitle-whole-forex {
    background-color: #00071e;
    display: flex;
    align-items: center;

    b {
      font-size: 17px;
      font-weight: bold;
      color: #ffc000;

      span {
        font-size: 15px;
        color: white;
      }
    }
  }

  .stocksubtitle-whole {
    background-color: #00071e;
    margin: 0px;
    display: flex;
    align-items: center;

    b {
      font-size: 15px;
      font-weight: bold;
      color: #ffc000;

      span {
        color: white;
      }
    }
  }
  .ice-desc-expand {
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 6rem;
    margin-top: 2rem;
  }
  .tradePrice {
    background-color: #00071e;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    .cotainer {
      width: 100px;
      margin: 0px 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-size: 14px;
      color: #ffc000;
      margin: 3px;
      padding: 5px 10px;
    }
    .price {
      font-size: 14px;
      color: #ffc000;
      padding: 5px 10px;
    }
    .bg-color {
      background-color: #122543;
    }
  }
  .bar_seperator {
    font-size: 15px;
    color: white;
  }
}

.fx-view-chart-height {
  height: 100%;
}

.fx-fwpm-expand-chart {
  position: absolute;
  right: 0;
  top: 4rem;
}
.fx-fwpm-expand-chart-h500 {
  height: 500px !important;
}
.fa-remove {
  color: #ffc000 !important;
  font-size: 22px;
  position: absolute;
  right: 22px;
}

.dropdown-container {
  position: relative;
  width: 30%;
}
.matrix-dropdown-box {
  display: flex;
  align-items: center;
  border: 1px solid #fec000;
  background: #fbe5c6;
  color: #444;
  border-radius: 4px;
  font-size: 12px;
  height: 30px;
  width: 85%;
  padding-left: 8px;
  cursor: pointer;

  .down-icon-div {
    background-color: #fec000;
    padding: 4px 7px;
    color: white;
  }
}

.company-section {
  min-height: 6rem;
  height: 20vh;
  overflow-y: auto;
  font-size: 13px;
  border-bottom: 1px solid #fec727;
}

.sticky {
  position: sticky;
  top: 0px;
  background: #fbe5c6;
}

.optionList {
  position: absolute;
  margin-top: -3px;
  width: 85%;
  background: #fbe5c6;
  z-index: 1;
  // padding-inline-start: 5px;
  // overflow: scroll;
  // overflow-x: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-filter-data {
  .form-control {
    font-size: 12px;
    padding: 5px 10px 4px 5px;
    width: 95%;
    color: #1f398a;
    background-color: #fff;
    border-color: #aeabcb;
    margin: auto;
  }

  .form-control:focus {
    color: #1f398a;
    background-color: #fff;
    border-color: #aeabcb;
    outline: none !important;
    box-shadow: none;
  }

  .custom-ul-style {
    list-style: none;
    padding-left: 0;
    color: #000;
    max-height: 12rem;
    overflow: auto;
    margin-bottom: 4px;
  }

  .custom-li-style {
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
  }

  .custom-li-style:hover {
    background-color: #ffc000;
    cursor: pointer;
  }

  .fa-pencil {
    margin-right: 0.3rem;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
