<header>
  <div class="row bg-white py-1" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <div class="col-3 d-flex justify-content-between align-items-center">
      <img
        src="../../../../../assets/img/logo.png"
        alt="Logo"
        class="logo img-fluid"
      />
      <span class="fa fa-bars menu-icon"></span>
    </div>
    <!-- <div > -->
    <!-- </div> -->
    <div class="col-9 d-flex align-items-center justify-content-end">
      <ul class="user-dropdown-menu mb-0">
        <li [routerLink]="['/']">
          <a>Home</a>
        </li>
        <li>
          <a>About Us</a>
        </li>
        <li>
          <a>Products</a>
        </li>
        <li>
          <a>Contacts Us</a>
        </li>
        <li>
          <a>Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="section">
  <div class="portlet-body">
    <!-- <div class="aboutuspage-banner float100 text-center">
        <h3>Terms of Access</h3>
      </div>	 -->

    <div class="televisory-publicpages-titles text-center">
      <h3 class="py-4">Terms of Access</h3>
    </div>

    <div class="termofuse">
      <div class="container pt40 pb40">
        <!-- <h2><span>These Terms of Access are current as of 14 March 2016</span></h2> -->
        <p class="footer-copyright">
          All access to and use of the website available at
          <a class="text-success" href="https://www.televisory.com"
            >https://www.televisory.com</a
          >
          ("Website") is subject to the following terms and conditions ("Terms
          of Access"). This Website is operated and controlled by Televisory
          Global Pte. Ltd. ("Televisory") and by accessing this Website, you
          agree to be bound by these Terms of Access with Televisory. If you do
          not agree to these Terms of Access, kindly do not access or use this
          Website.
        </p>

        <div class="termsTitle">
          <span>1.&nbsp;</span>
          <h4>Use of this Website</h4>
        </div>

        <ol>
          <li>
            You agree to comply with all guidelines and notices pertaining to
            the use of this Website issued by Televisory, from time to time.
            Televisory reserves the right to revise these Terms of Access at any
            time, and all users of this Website are deemed to be aware of and
            bound by any changes to these Terms of Access upon publication on
            this Website.
          </li>
          <li>
            The use of specific aspects of the Website and/or any services
            offered by Televisory and our designate sub-contractors or
            affiliates, may be subject to additional terms and conditions
            ("Additional Terms"), which will apply in full force and effect. In
            particular, where you create an account on the Website, the Terms of
            Use will apply. The Anonymisation and Data Protection Policy should
            be read to be subject to these Terms of Access.
          </li>
          <li>
            Televisory reserves the right to change aspects of the Website,
            introduce new services to be provided through the Website or amend
            services provided through the Website (collectively "New Services").
            All New Services shall be governed by these Terms of Access and may
            be subject to Additional Terms which you shall be required to agree
            to before access to and use of such New Services are provided. In
            the event of any inconsistency between this Terms of Access and the
            Additional Terms, the Additional Terms shall prevail in so far as
            the inconsistency relates to the New Service.
          </li>
          <li>
            Televisory reserves the right to from time to time without giving
            any reason or prior notice upgrade, modify, alter, suspend,
            discontinue the provision of or remove, whether in whole or in part,
            the Website, and shall not be liable if any such upgrade,
            modification, suspension or alteration prevents you from accessing
            the Website, any part or feature of the Website, or any of the
            services provided through the Website. The information and/or any
            other material contained in the Website may be modified, deleted or
            replaced from time to time and at any time in the absolute
            discretion of Televisory.
          </li>
          <li>
            Televisory reserves the right, but shall not be obliged to: (i)
            monitor, screen, or otherwise control any activity, content or
            material on the Website or provided thorough the Service; (ii)
            remove, block, reject or relocate any content or material appearing
            on the Website or made available through the Service, (iii) prevent
            or restrict access of any user to the Website; and/or (iv) report
            any activity it suspects to be in violation of any applicable law,
            statute or regulation to the appropriate authorities and to
            co-operate with such authorities. Televisory may investigate any
            violations of the Terms of Access and may take any action it deems
            appropriate in response, including any actions described above.
          </li>
        </ol>

        <div class="termsTitle">
          <span>2.&nbsp;</span>
          <h4>Limitation of Liability</h4>
        </div>
        <ol>
          <li>
            This Website is provided on an "as is" and "as available" basis.
            Televisory does not warrant the accuracy, adequacy or completeness
            of this Website and expressly disclaims any liability for errors,
            delays or omissions in the Website, or for any action taken in
            reliance on the content of the Website. No warranty of any kind,
            implied, express or statutory, including but not limited to the
            warranties of non-infringement of third party rights, satisfactory
            quality or fitness for a particular purpose, is given in conjunction
            with the Website.
          </li>
          <li>
            Televisory does not warrant that the Website or any of its contents
            will be provided uninterrupted or free from errors, or that any
            identified defect will be corrected. Further, no warranty is given
            that this Website and its content are free from any computer virus
            or other malicious, destructive or corrupting code agent, program or
            macros.
          </li>
          <li>
            Risks relating to the use of the Internet: Televisory does not
            warrant the security of any information transmitted by you or to you
            through this Website and you accept the risk that any information
            transmitted or received through this Website may be accessed by
            unauthorised third parties. Transactions over the Internet may be
            subject to interruption, transmission blackout, delayed transmission
            due to internet traffic or incorrect data transmission due to the
            public nature of the Internet.
          </li>
          <li>
            Exclusion of liability: Televisory shall not be liable to you for
            any loss, damages or expenses (including any direct, indirect,
            incidental, special, consequential or punitive damages or economic
            loss or any claims for loss of profits or loss of use) whatsoever or
            howsoever caused (regardless of the form of action) arising directly
            or indirectly in connection with any access, use or inability to use
            this Website, or reliance on any of its content, even if Televisory
            or its agents or employees may have been advised of, or otherwise
            might have anticipated, the possibility of the same.
          </li>
          <li>
            Information available through this Website: Information and/or data
            displayed at this Website may be from a variety of sources,
            including publicly available information, through users of the
            Website who have created accounts, or from third parties. Televisory
            makes no representations as to the accuracy, adequacy or commercial
            value of any information or data displayed on the Website. All
            information or data displayed on this Website are not intended as,
            nor shall they be construed as financial, tax or other advice or as
            an offer, solicitation or recommendation of any company, product or
            service. Televisory shall not be liable to you for any decision made
            or action taken by you in reliance on any information or data
            displayed on this Website or for direct, indirect, incidental,
            special, consequential, punitive or any other damages whatsoever
            even if Televisory or its agents have been advised of the
            possibility of such damages.
          </li>
        </ol>

        <div class="termsTitle">
          <span>3.&nbsp;</span>
          <h4>Intellectual Property</h4>
        </div>
        <ol>
          <li>
            The intellectual property rights in this Website and its content are
            owned, licensed to or controlled by Televisory, its licensors or
            service providers. No part or parts of this Website or any of its
            content may be reproduced, distributed, republished, displayed,
            broadcast, hyperlinked, mirrored, framed, transferred or transmitted
            in any manner or by any means or stored in an information retrieval
            system without the prior written permission of Televisory or other
            copyright owners. Permission is hereby granted to you to download,
            print or use any content of the Website for your own personal and
            non-commercial use, and to evaluate the services of Televisory, on
            the basis that you must not modify any content of the Website and
            that you retain all copyright and other notice contained therein.
          </li>
          <li>
            Trade Marks: The trade marks, service marks, trade names and logos
            used and displayed on this Website (collectively the "Trade Marks")
            are registered and unregistered trade marks of Televisory and
            others. Nothing on this Website should be construed as granting, by
            implication, estoppel, or otherwise, any license or right to use any
            Trade Marks displayed on this Website, without the written
            permission of Televisory or any other applicable trade mark owner.
            The name of Televisory may not be used in any way without the prior
            written permission of Televisory.
          </li>
          <li>
            Ownership not to be affected: Televisory is and shall remain the
            proprietor of all its intellectual property rights in the Website.
            These Terms of Access shall not constitute or result in any
            assignment or transfer of any intellectual property rights to you.
          </li>
        </ol>

        <div class="termsTitle">
          <span>4.&nbsp;</span>
          <h4>Password restricted areas of this Website</h4>
        </div>
        <ol>
          <li>
            Access to and use of password protected and/or secure areas of this
            Website are restricted to authorized users only. You may not obtain
            or attempt to obtain unauthorized access to such parts of this
            Website, or to any other protected information, through any means
            not intentionally made available by Televisory for your specific
            use.
          </li>
        </ol>

        <div class="termsTitle">
          <span>5.&nbsp;</span>
          <h4>Hyperlinks</h4>
        </div>
        <ol>
          <li>
            For your convenience, Televisory may include hyperlinks to other
            websites or content on the Internet that are owned or operated by
            third parties. Such linked websites or content are not under the
            control of Televisory and Televisory is not responsible for the
            contents of, or the consequences of accessing, any linked website.
          </li>
          <li>
            Any hyperlinks to any other websites or content are not an
            endorsement or verification of such websites or content and you
            agree that your access to or use of such linked websites or content
            is entirely at your own risk.
          </li>
        </ol>

        <div class="termsTitle">
          <span>6.&nbsp;</span>
          <h4>Anonymity and Data Protection</h4>
        </div>
        <ol>
          <li>
            All information and/or particulars sent or submitted by you through
            the Website will be used by Televisory in accordance with our
            Anonymisation and Data Protection Policy.
          </li>
        </ol>

        <div class="termsTitle">
          <span>7.&nbsp;</span>
          <h4>Force Majeure</h4>
        </div>
        <ol>
          <li>
            Televisory shall not be liable for any non-performance, error,
            interruption or delay in the performance of its obligations or in
            this Website's operation, or for any inaccuracy, unreliability or
            unsuitability of this Website's contents if this is due, in whole or
            in part, directly or indirectly to an event or failure which is
            beyond its reasonable control (which includes without limitation
            acts of God, natural disasters, acts of any government or authority,
            power failures, and the acts of a party for whom Televisory is not
            responsible).
          </li>
        </ol>

        <div class="termsTitle">
          <span>8.&nbsp;</span>
          <h4>Delegation</h4>
        </div>
        <ol>
          <li>
            Televisory may delegate the performance of any of its functions in
            connection with this Website and reserves the right to use any
            agents on such terms as it deems appropriate.
          </li>
        </ol>

        <div class="termsTitle">
          <span>9.&nbsp;</span>
          <h4>Indemnity</h4>
        </div>
        <ol>
          <li>
            You agree to indemnify Televisory and its employees and agents
            against any liability, loss, damage, costs and expenses (including
            legal costs on a solicitor-client basis) which they may sustain or
            incur, directly or indirectly, by reason of: (i) having made
            available the Website; (ii) having entered into these Terms of
            Access with you; (iii) any enforcement of our rights under these
            Terms of Access; (iv) acts or omissions carried out upon any
            instructions which you have given in relation to the Website; (v)
            your breach of confidence; or (vi) any negligence, fraud and/or
            misconduct on your part in connection with the Website or these
            Terms of Access.
          </li>
        </ol>

        <div class="termsTitle">
          <span>10.&nbsp;</span>
          <h4>Termination</h4>
        </div>
        <ol>
          <li>
            You agree that Televisory may, at its sole discretion, deny you
            access to this Website for any reason, including without limitation,
            if Televisory believes that you have violated or acted
            inconsistently with any of these Terms of Access, or if in
            Televisory's opinion or the opinion of any regulatory authority, it
            is not suitable to continue providing the services relating to this
            Website.
          </li>
        </ol>

        <div class="termsTitle">
          <span>11.&nbsp;</span>
          <h4>Governing Law</h4>
        </div>
        <ol>
          <li>
            Use of this Website and these Terms of Access shall be governed by
            and construed in accordance with Singapore law and you hereby submit
            to the exclusive jurisdiction of the Singapore Courts.
          </li>
        </ol>
      </div>
    </div>
  </div>

  <footer class="telFooter">
    <div class="row">
      <div class="col-sm-4">
        <p class="mb-0 px-3">
          Copyright © 2022 Televisory <span class="px-1">|</span> All Rights
          Reserved
        </p>
      </div>
      <div class="col-sm-8">
        <ul class="mb-0 text-white">
          <li class="">
            <a href="https://televisory.com/terms-of-use">Terms of Use</a>
          </li>
          <li class="">
            <a href="https://televisory.com/terms-of-access">Terms of Access</a>
          </li>
          <li class="">
            <a href="https://televisory.com/policy">Privacy Policy</a>
          </li>
          <li class="">
            <a href="https://televisory.com/sitemap">Site map </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
