<header>
  <div class="row bg-white py-1" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <div class="col-3 d-flex justify-content-between align-items-center">
      <img
        src="../../../../../assets/img/logo.png"
        alt="Logo"
        class="logo img-fluid"
      />
      <span class="fa fa-bars menu-icon"></span>
    </div>
    <!-- <div > -->
    <!-- </div> -->
    <div class="col-9 d-flex align-items-center justify-content-end">
      <ul class="user-dropdown-menu mb-0">
        <li [routerLink]="['/']">
          <a>Home</a>
        </li>
        <li>
          <a>About Us</a>
        </li>
        <li>
          <a>Products</a>
        </li>
        <li>
          <a>Contacts Us</a>
        </li>
        <li>
          <a>Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="section">
  <div class="portlet-layout row-fluid">
    <div class="portlet-column portlet-column-only span12" id="column-1">
      <div
        class="portlet-dropzone portlet-column-content portlet-column-content-only"
        id="layout-column_column-1"
      >
        <div
          class="portlet-boundary portlet-boundary_termofuse_WAR_TelevisoryV2portlet_ portlet-static portlet-static-end portlet-borderless term-of-use-portlet"
          id="p_p_id_termofuse_WAR_TelevisoryV2portlet_"
        >
          <span id="p_termofuse_WAR_TelevisoryV2portlet"></span>

          <div class="portlet-borderless-container">
            <div class="portlet-body">
              <div class="televisory-publicpages-titles text-center">
                <h3 class="py-4">Terms of Use</h3>
              </div>

              <div class="termofuse">
                <div class="container pt40 pb40">
                  <p>
                    The Website (defined below) and the Service (defined below),
                    are operated by Televisory Global Pte. Ltd. ("Televisory"),
                    and are provided to you, under the following terms and
                    conditions of use ("Terms of Use"). By clicking the "CREATE
                    ACCOUNT" button, you are indicating your agreement to be
                    bound by all terms and conditions of these Terms of Use. If
                    you do not accept all the terms and conditions of these
                    Terms of Use, do not click on the "CREATE ACCOUNT" button.
                  </p>

                  <div class="termsTitle">
                    <span>1.&nbsp;</span>
                    <h4>Definitions</h4>
                  </div>
                  <p style="text-align: left">
                    In these Terms of Use, the following terms have the meanings
                    described below:
                  </p>
                  <ol>
                    <li>
                      "Basic Benchmark Service" means the service provided by
                      Televisory that includes providing quarterly reports,
                      choice of a company for the purpose of setting a global
                      benchmark, providing microeconomic data, and any other
                      feature or service as may be specified on the Website as
                      being part of the "Basic Benchmark Service".
                    </li>
                    <li>
                      "Data Digitization Service" means the service provided by
                      Televisory that includes providing you with a digital
                      version, suitable for upload as Submitted Data by a Data
                      Provider User, of operational and/or financial
                      information.
                    </li>
                    <li>
                      "Data Provider" User means a User who has elected to
                      provide Submitted Data through the Website and/or Service
                      for the purpose of using either the Basic Benchmark
                      Service or the Premium Benchmark Service.
                    </li>
                    <li>
                      "New Services" includes any new products, applications,
                      programmes services, functions and/or features to the
                      Service and/or Website.
                    </li>
                    <li>
                      "Non-Data Provider User" means a User who has access to
                      the Website in any context other than as a Data Provider
                      User. "Non-Data Provider Users" includes users who have
                      access to the Website in connection with the conduct of
                      website advertising or who have access to the Website due
                      to an agreement between Televisory and their employer,
                      bank or client. A single individual may be both a Non-Data
                      Provider User and a Data Provider User at different times,
                      but in respect of each access to the Website their status
                      depends on the credentials used.
                    </li>
                    <li>
                      "Premium Benchmark Service" means the service provided by
                      Televisory to you that includes providing quarterly
                      reports, choice of a company for the purpose of setting a
                      global benchmark, providing microeconomic data, providing
                      a peer comparison report, allowing for a choice of
                      different benchmark criteria, and any other feature or
                      service as may be specified on the Website as being part
                      of the "Premium Benchmark Service".
                    </li>
                    <li>
                      "Service" means all services, information and functions
                      made available to you by Televisory through the Website,
                      including New Services; "Service" does not include any
                      services which are provided by third parties.
                    </li>
                    <li>
                      "Submitted Data" means any operational and/or financial
                      information, text, diagrams and/or other materials
                      submitted by Users or by Televisory through the Website or
                      Service.
                    </li>
                    <li>
                      "Televisory Report" means the report generated, in PDF
                      format, through the use of the either the Basic Benchmark
                      Service or Premium Benchmark Service.
                    </li>
                    <li>
                      "User or "You means such party who accesses or uses this
                      Website by Televisory, including both Data Provider Users
                      and Non-Data Provider Users.
                    </li>
                    <li>
                      "Website" means the website available at
                      <a href="https://www.televisory.com"
                        >http://televisory.com</a
                      >.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>2.&nbsp;</span>
                    <h4>Anonymity and Data Protection</h4>
                  </div>
                  <ol>
                    <li>
                      All information and/or particulars sent or submitted by
                      you through the Website will be used by Televisory in
                      accordance with our Anonymisation and Data Protection
                      Policy.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>3.&nbsp;</span>
                    <h4>Use of Service</h4>
                  </div>
                  <ol>
                    <li>
                      You agree to comply with all guidelines and notices
                      pertaining to the use of this Website issued by
                      Televisory, from time to time. Televisory reserves the
                      right to revise these Terms of Use at any time, and all
                      users of this Website are deemed to be aware of and bound
                      by any changes to these Terms of Use upon publication on
                      this Website.
                    </li>
                    <li>
                      You must also: (i) abide by all applicable laws and
                      regulations in your use of the Website and the Service;
                      (ii) not impersonate any person or entity or to falsely
                      state or otherwise misrepresent your affiliation with any
                      person or entity; (iii) not send, distribute or upload, in
                      any way, data or materials that contain viruses, malicious
                      code or other harmful components; (iv) not post, promote
                      or transmit through the Website and/or the Service any
                      unlawful, harassing, libellous, harmful, vulgar, obscene
                      or otherwise objectionable material of any kind or nature;
                      and (v) not disclose any information in breach of
                      confidence to Televisory, or include any such information
                      in any Submitted Data.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>4.&nbsp;</span>
                    <h4>Reservation of rights</h4>
                  </div>
                  <ol>
                    <li>
                      Suspension or variation of the Service/Website. Televisory
                      may from time to time without giving any reason or prior
                      notice, upgrade, modify, alter, suspend, discontinue the
                      provision of or remove, whether in whole or in part, the
                      Website and/or the Service and shall not be liable if any
                      such upgrade, modification, suspension or alteration
                      prevents you from accessing the Website and/or the Service
                      or any part or feature thereof. The information and/or any
                      other material contained in the Website or provided
                      through the Service may be modified, deleted or replaced
                      from time to time and at any time in the absolute
                      discretion of Televisory.
                    </li>
                    <li>We reserve the right, but shall not be obliged to:</li>
                    <ol style="margin-left: 3%">
                      <li>
                        Monitor, screen, or otherwise control any activity,
                        content or material on the Website or provided thorough
                        the Service. We may investigate any violation of the
                        terms and conditions contained herein and may take any
                        action it deems appropriate;
                      </li>
                      <li>
                        Remove, block, reject or relocate any Submitted Data
                        appearing on the Website or made available through the
                        Service,
                      </li>
                      <li>
                        Prevent or restrict access of any User to the Website or
                        Service; and/or
                      </li>
                      <li>
                        Report any activity it suspects to be in violation of
                        any applicable law, statute or regulation to the
                        appropriate authorities and to co-operate with such
                        authorities.
                      </li>
                    </ol>
                  </ol>

                  <div class="termsTitle">
                    <span>5.&nbsp;</span>
                    <h4>Additional Terms and New Services</h4>
                  </div>
                  <ol>
                    <li>
                      In addition to these Terms of Use, the use of specific
                      aspects of the Service, more comprehensive or updated
                      versions of the Service and/or any services offered by
                      Televisory and our designated sub-contractors or
                      affiliates, may be subject to additional terms and
                      conditions ("Additional Terms"), which will apply in full
                      force and effect.
                    </li>
                    <li>
                      Televisory reserves the right (but shall not be obliged)
                      to introduce New Services to the Service and/or Website.
                      The term "Service" shall include New Services which are
                      provided at no charge or fee unless otherwise indicated.
                    </li>
                    <li>
                      All New Services shall be governed by these Terms of Use
                      and may be subject to Additional Terms which you shall be
                      required to agree to before access to and use of such New
                      Services are provided. In the event of any inconsistency
                      between these Terms of Use and the Additional Terms, the
                      Additional Terms shall prevail in so far as the
                      inconsistency relates to the service, product and/or
                      programme in question unless otherwise provided.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>6.&nbsp;</span>
                    <h4>Telecode and Password</h4>
                  </div>
                  <ol>
                    <li>
                      Certain transactions may be performed on the Website
                      and/or through the Service only if you have been provided
                      by Televisory with a user account and accompanying login
                      identification name(s) or number(s) ("Telecode") and
                      personal identification number(s), password(s), symbol(s)
                      or code(s) ("Password"). If you are a Data Provider User,
                      Televisory's promise of anonymity as described in the
                      Anonymisation and Data Protection Policy applies, and it
                      is recommended that you maintain anonymity by not
                      providing a name or company name as your Telecode.
                    </li>
                    <li>
                      Televisory may at any time in its absolute discretion
                      forthwith invalidate your user account and any Telecode
                      and/or the Password issued to you without assigning any
                      reason therefor without prior notice and shall not be
                      liable or responsible for any loss or damage suffered by
                      or caused to you or arising out of or in connection with
                      or by reason of such invalidation.
                    </li>
                    <li>
                      You shall not at any time disclose any Telecode or
                      Password to any other party and you shall be responsible
                      and liable for any disclosure or use (whether such use is
                      authorised or not) of the Telecode and Password issued to
                      you. Televisory shall not be responsible or liable for any
                      loss, damage or embarrassment incurred or suffered by you
                      or any person by reason of or arising from or as a
                      consequence of using your assigned user account or
                      Telecode and Password and/or in respect of any
                      instructions, operations or transactions (including
                      monetary transactions if any) effected by you or purported
                      to be effected by you using the Service.
                    </li>
                    <li>
                      Without prejudice to the promise of anonymity as contained
                      in the Anonymisation and Data Protection Policy if
                      applicable:
                    </li>
                    <ol style="margin-left: 3%">
                      <li>
                        any use of or access to the Service and/or the Website
                        and any information, data, instructions or
                        communications referable to your Telecode and Password
                        shall be deemed to be (a) use or access of the Website
                        and/or the Service by you and/or (b) information, data,
                        instructions or communications transmitted and validly
                        issued by you.
                      </li>
                      <li>
                        you shall be bound by any access, use, instructions
                        and/or communications referable to your user account,
                        Telecode and Password and you agree that Televisory
                        shall be entitled to act upon, rely on and/or hold you
                        solely responsible and liable in respect thereof as if
                        the same were carried out or transmitted by you.
                      </li>
                    </ol>
                  </ol>

                  <div class="termsTitle">
                    <span>7.&nbsp;</span>
                    <h4>Fees and payments</h4>
                  </div>
                  <ol>
                    <li>Data Provider Users</li>
                    <ol style="margin-left: 3%">
                      <li>
                        Except as specified in these Terms of Use, Televisory
                        does not impose any fees or charges on Data Provider
                        Users for the use of the Basic Benchmark Service through
                        the Website and/or Service.
                      </li>
                      <li>
                        Televisory imposes a fee of US$1000 per annum on Data
                        Provider Users for the optional use of the Premium
                        Benchmark Service through the Website and/or Service.
                      </li>
                      <li>
                        Televisory imposes an additional fee of US$200 per annum
                        on Data Provider Users for use of the Data Digitization
                        Service in addition to either the Basic Benchmark
                        Service or Premium Benchmark Service.
                      </li>
                      <li>
                        The Anonymisation and Data Protection Policy applies in
                        respect of all payment mechanisms for collection of
                        payments from Data Provider Users.
                      </li>
                    </ol>
                    <li>Non-Data Provider Users</li>
                    <p style="padding-left: 30px">
                      Where applicable, please refer to the separate agreement
                      between Televisory and your bank, employer or client in
                      relation to fees and payments required. <br />If you are
                      not a Data Provider User as defined in these Terms of Use
                      and wish to use any Service, please contact us at:
                      Televisory Global Pte. Ltd.<br />
                      Email address : support@televisory.com<br />
                      Address : Level 30, Six Battery Road, Singapore
                      (049909)<br />
                      Telephone No.: +65 6322 1439
                    </p>
                  </ol>

                  <div class="termsTitle">
                    <span>8.&nbsp;</span>
                    <h4>Advertising</h4>
                  </div>
                  <ol>
                    <li>
                      We may attach banners, java applets and/or such other
                      materials to the Website and/or the Service, for the
                      purposes of advertising products and/or services we
                      provide, our affiliates provide, or which selected third
                      parties provide.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>9.&nbsp;</span>
                    <h4>Disclaimer</h4>
                  </div>
                  <ol>
                    <li>
                      Content and applications from various sources, including
                      third party content providers, may be included at the
                      Website and/or provided through the Service. Neither
                      Televisory nor any of its content providers shall be
                      liable for any errors or delays in the content furnished
                      at the Website or through the Service, or for any actions
                      taken in reliance thereon. Televisory is under no
                      obligation to monitor or review discussions, messages,
                      blogs, chats, postings, transmissions, bulletin boards,
                      and the like on the Website or accessible through the
                      Service, and assumes no responsibility or liability
                      arising from the content of any such locations nor for any
                      error, defamation, libel, slander, omission, falsehood,
                      obscenity, pornography, profanity, inaccuracy or any other
                      objectionable material contained in any applications or
                      content within such locations. Any hyperlink to any other
                      website or webpage is not an endorsement or verification
                      of such website or webpage and should only be accessed at
                      your own risk.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>10.&nbsp;</span>
                    <h4>No Warranty</h4>
                  </div>
                  <ol>
                    <li>
                      The Website and the Service and all information,
                      materials, services and functions contained therein
                      including, software, programs, data, databases, text,
                      graphics, photographs, animations, audio, music, video,
                      links or other materials, are provided "as is" and "as
                      available". NO WARRANTY OF ANY KIND, IMPLIED, EXPRESS OR
                      STATUTORY, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF
                      TITLE, NON-INFRINGEMENT OF THIRD PARTY RIGHTS,
                      MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A
                      PARTICULAR PURPOSE AND FREEDOM FROM COMPUTER VIRUS OR
                      OTHER MALICIOUS, DESTRUCTIVE OR CORRUPTING CODE, AGENT,
                      PROGRAM OR MACROS, IS GIVEN IN CONJUNCTION WITH THE
                      APPLICATION, SERVICE, WEBSITE, OR ANY INFORMATION AND
                      MATERIALS PROVIDED AT THE WEBSITE OR THROUGH THE SERVICE.
                      Without prejudice to the generality of the foregoing,
                      Televisory does not warrant: (i) the accuracy, timeliness,
                      adequacy or completeness of the information, materials,
                      services and/or functions provided at or contained in the
                      Website and/or the Service; (ii) that your use of and/or
                      access to the Website, the Service or any information or
                      any materials on the Website or the Service as a whole,
                      will be uninterrupted, secure or free from errors or
                      omissions or that any identified defect will be corrected;
                      (iii) that the Website, Service or any information or
                      materials provided in the Website or Service will meet
                      your requirements or are free from any virus or other
                      malicious, destructive or corrupting code, agent, program
                      or macros; and (iv) that use of the materials displayed on
                      the Website and/or the Service by you will not infringe
                      rights of third parties.
                    </li>
                    <li>
                      You acknowledge and agree that Televisory does not warrant
                      the accuracy of any information transmitted by or to you
                      using the Website or Service and you hereby accept the
                      risk that the Website or Service may be accessed and used
                      by unauthorized third parties to transmit inaccurate or
                      unreliable information and that any information
                      transmitted or received using the Website or Service may
                      therefore be inaccurate.
                    </li>
                    <li>
                      You will not hold Televisory or any of its officers,
                      employees or agents responsible or liable, in contract,
                      tort (including negligence or breach of statutory duty),
                      equity or otherwise, for any such access or disclosure or
                      for any damages, losses, expenses or costs (whether direct
                      or indirect, or whether foreseeable or not) suffered or
                      incurred by you as a result of any such unauthorized
                      access or disclosure.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>11.&nbsp;</span>
                    <h4>Submitted Data</h4>
                  </div>
                  <ol>
                    <li>
                      Televisory neither endorses nor assumes any responsibility
                      for the contents of your transmissions or communications
                      through the Website and/or Service and you are solely
                      responsible therefor.
                    </li>
                    <li>
                      You warrant and represent that you have the right and
                      authority to submit your Submitted Data and that your
                      Submitted Data does not infringe the intellectual property
                      rights or any other rights of any third party. You also
                      warrant and represent that you have the right and
                      authority to submit, as part of your Submitted Data, any
                      confidential information which may be contained in the
                      Submitted Data. You hereby grant (and/or (if applicable)
                      warrant that you have procured from all relevant third
                      parties the right to grant) to Televisory a non-exclusive,
                      world-wide royalty-free, irrevocable licence and right to
                      collect, use, disclose, host, transmit, exploit and
                      distribute (which will include without limitation, the
                      right to copy, reproduce and/or publish) your Submitted
                      Data in connection with the provision of the Service to
                      you and for the purposes you have instructed or requested,
                      and in connection with the provision of the Website and/or
                      Services to all other Users (including both Data Provider
                      Users and Non-Data Provider Users). You warrant that
                      Televisory's use of your Submitted Data in this manner
                      does not cause you or your employer or client to breach
                      any duty of confidentiality, secrecy, fiduciary duty,
                      contractual obligation, or any applicable laws or other
                      legal requirements.
                    </li>
                    <li>
                      You hereby agree that Televisory has no obligation to
                      remove from its internal records any Submitted Data that
                      has been transmitted or communicated through the Website
                      and/or Service, even if the relevant Data Provider User
                      requests such removal.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>12.&nbsp;</span>
                    <h4>Limitation of Liability</h4>
                  </div>
                  <ol>
                    <li>
                      Televisory's liability to a Data Provider User who has
                      actually paid for the Data Digitization Service or the
                      Premium Benchmark Service shall be limited to the amount
                      actually paid by such Data Provider User for such services
                      in the 12 months preceding the relevant cause of action,
                      but in any event Televisory shall have no liability for
                      any indirect, special or consequential damages, or
                      economic loss. For the avoidance of doubt, the disclaimers
                      in Clauses 9 and 10 continue to apply to each Data
                      Provider User.
                    </li>
                    <li>
                      Except as specified in Clause 12.1, Televisory shall in no
                      event nor for any reason whatsoever be liable, even if
                      Televisory has been advised of the possibility of such
                      damages, losses or expenses, for any damages, losses or
                      expenses, including direct, indirect, special, or
                      consequential damage, or economic loss, arising from or in
                      connection with (i) any access, use or the inability to
                      access or use the Service or Website; (ii) any system,
                      server or connection failure, error, omission,
                      interruption, delay in transmission, computer virus or
                      other malicious, destructive or corrupting code, agent
                      program or macros; (iii) any use of or access to any other
                      website or webpage linked to the Website or provided
                      through the Service; and/or (iv) any services, products,
                      information, data, software or other material obtained or
                      downloaded from the Website or the Service or from any
                      other website or webpage linked to the Website or from any
                      other party referred by the Website and/or the Service.
                      For the avoidance of doubt, under these Terms of Use,
                      Televisory has no liability whatsoever to any Non-Data
                      Provider User.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>13.&nbsp;</span>
                    <h4>Intellectual Property</h4>
                  </div>
                  <ol>
                    <li>
                      All copyright and other intellectual property and
                      proprietary rights in the content, including but not
                      limited to text, software, code, scripts, webpages, music,
                      sound, photographs, video, graphics, graphical user
                      interface, forms, diagrams or other material contained in
                      the Website or Service belong to Televisory or our
                      designated sub-contractors or affiliates unless otherwise
                      indicated. You may access material displayed on the
                      Website or Service for your non-commercial use only
                      provided that you also retain all copyright and other
                      proprietary notices contained on the materials. You may
                      use Televisory Reports for your internal business
                      purposes, or where you are a Data Provider User,
                      additionally for the internal business purposes of the
                      organisation in respect of which your Submitted Data
                      relates to, on the basis that you must not modify any
                      content of the Televisory Report and that you retain all
                      copyright and other notices and disclaimers contained
                      therein. You may not copy, reproduce, distribute, modify,
                      transmit, reuse, re-post, or use any content on the
                      Website or provide a Televisory Report for public or
                      commercial purposes without Televisory's or the relevant
                      third party's prior written permission. The trade marks,
                      logos, and service marks (collectively the "Trade marks")
                      displayed on the Website are registered and unregistered
                      Trade marks of Televisory and where applicable, other
                      third party proprietors identified on Website. No right or
                      licence is given to any party accessing the Website or
                      Service to download, reproduce or use any such Trade
                      marks.
                    </li>
                    <li>
                      Ownership not to be affected: Televisory is and shall
                      remain the proprietor of all its intellectual property
                      rights in the Website. These Terms of Use shall not
                      constitute or result in any assignment or transfer of any
                      intellectual property rights to you.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>14.&nbsp;</span>
                    <h4>No Linking</h4>
                  </div>
                  <ol>
                    <li>
                      You may not, without Televisory's prior written
                      permission, insert a hyperlink to the Website (or any part
                      thereof) (other than as provided in the foregoing
                      provision) on any other website or webpage or "mirror" any
                      material contained on the Website on any other server and
                      you may not establish and/or maintain, on any website or
                      webpage, any in-links, frame-links and/or any other type
                      of hyperlinks to Website or any part thereof (including
                      without limitation any webpages, images, video, audio,
                      graphics, text, code, program and/or any other material on
                      the Website).
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>15.&nbsp;</span>
                    <h4>Termination</h4>
                  </div>
                  <ol>
                    <li>
                      Televisory, in its sole discretion, may with immediate
                      effect, terminate your right to use the Service and/or
                      access the Website and/or invalidate your Telecode and
                      Password and may bar access to the Website (or any part
                      thereof) and/or the Service (or any part thereof) for any
                      reason whatsoever, including but without limitation, a
                      breach of any of the terms and conditions of these Terms
                      of Use.
                    </li>
                    <li>
                      You may terminate these Terms of Use by giving seven (7)
                      days notice in writing to Televisory.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>16.&nbsp;</span>
                    <h4>Amendments to Terms of Use</h4>
                  </div>
                  <ol>
                    <li>
                      Televisory may impose such further terms and conditions
                      and make such amendments to these Terms of Use as
                      Televisory may in its discretion deem fit from time to
                      time (including terms or amendments allowing Televisory to
                      charge or revise fees for the use of the Website and/or
                      Service). Televisory will notify you of such amendments by
                      posting the amendments on-line at the Website or such
                      other method of notification as may be designated by
                      Televisory (such as via email or other forms of electronic
                      communication), which you agree shall be sufficient notice
                      for the purpose of this clause. If you do not agree to be
                      bound by the amendments, you shall immediately cease all
                      access and/or use of the Website and Service. You further
                      agree that if you continue to use and/or access the
                      Website and/or Service after being notified of such
                      amendments to these Terms of Use, such use and/or access
                      shall constitute an affirmative: (1) acknowledgement by
                      you of these Terms of Use and its amendments; and (2)
                      agreement by you to abide and be bound by these Terms of
                      Use and its amendments.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>17.&nbsp;</span>
                    <h4>Notices</h4>
                  </div>
                  <ol>
                    <li>
                      Any notice or other communication in connection with these
                      Terms of Use: (a) may be given personally, by post,
                      facsimile or electronically if sent to the address or
                      facsimile number then most recently notified by the
                      recipient to the sender; (b) if given personally, will be
                      deemed to have been received upon delivery; (c) by post,
                      will be deemed to have been received on the second day
                      following posting; (d) if given by facsimile, will be
                      deemed to have been received upon production of a
                      transmission report by the machine from which the
                      facsimile was sent which indicates that the facsimile was
                      sent in its entirety to the facsimile number of the
                      recipient; and (e) (i) if given by us to you
                      electronically, will be deemed to have been received upon
                      delivery (and a delivery report received by us will be
                      conclusive evidence of delivery even if the communication
                      is not opened by you) and (ii) if given to us
                      electronically, will be deemed to have been received upon
                      being opened by us.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>18.</span>
                    <h4>Force Majeure</h4>
                  </div>
                  <ol>
                    <li>
                      Televisory shall not be liable for any non-performance,
                      error, interruption or delay in the performance of its
                      obligations or in this Website's or the Service's
                      operation, or for any inaccuracy, unreliability or
                      unsuitability of this Website's contents if due, in whole
                      or in part, directly or indirectly to an event or failure
                      which is beyond its reasonable control (including acts of
                      God, natural disasters, epidemics, acts of war or
                      terrorism, acts of any government or authority, power
                      failures, acts or defaults of any telecommunications
                      network operator or carriers and the acts of a party for
                      whom Televisory is not responsible for).
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>19.&nbsp;</span>
                    <h4>General</h4>
                  </div>
                  <ol>
                    <li>
                      You may not assign your rights under these Terms of Use
                      without our prior written consent. We may assign our
                      rights under these Terms of Use to any third party.
                    </li>
                    <li>
                      These Terms of Use will bind you and us and our respective
                      successors in title and assigns and will continue to bind
                      you notwithstanding any change in our name or constitution
                      or our merger, consolidation or amalgamation with or into
                      any other entity (in which case these Terms of Use will
                      bind you to our successor entity).
                    </li>
                    <li>
                      If any provision of these Terms of Use is held to be
                      invalid, illegal or unenforceable (whether in whole or in
                      part), such provision shall be struck and severed from
                      these Terms of Use and the remaining provisions of these
                      Terms of Use shall not be affected thereby.
                    </li>
                    <li>
                      No failure or delay to exercise our rights under these
                      Terms of Use shall operate as a waiver thereof nor shall
                      such failure or delay affect our right to enforce our
                      rights under these Terms of Use.
                    </li>
                    <li>
                      If these Terms of Use are translated into a language other
                      than English, the English text shall prevail.
                    </li>
                    <li>
                      You acknowledge and agree that Televisory's records and
                      any records of the communications, transactions,
                      instructions or operations made or performed, processed or
                      effected through the Service and/or Website by you or any
                      person purporting to be you, acting on your behalf or
                      purportedly acting on your behalf, with or without your
                      consent, or any record of communications, transactions,
                      instructions or operations relating to the operation of
                      the Service and any record of any communications,
                      transactions, instructions or operations maintained by
                      Televisory or by any relevant person authorised by
                      Televisory relating to or connected with the Service
                      and/or Website shall be binding on you for all purposes
                      whatsoever and shall be conclusive evidence of such
                      communications, transactions, instructions or operations.
                    </li>
                    <li>
                      No person or entity who is not a party to these Terms of
                      Use shall have any right under the Contracts (Rights of
                      Third Parties) Act, Chapter 53B of Singapore or other
                      similar laws to enforce any term of these Terms of Use,
                      regardless of whether such person or entity has been
                      identified by name, as a member of a class or as answering
                      a particular description. For the avoidance of doubt, this
                      shall not affect the rights of any permitted assignee or
                      transferee of these Terms of Use.
                    </li>
                    <li>
                      You agree and acknowledge that these Terms of Use and the
                      Service do not include the provision of Internet access or
                      other telecommunication services by Televisory. Any
                      Internet access or telecommunications services (such as
                      mobile data connectivity) required by you to access and
                      use the Service shall be your sole responsibility and
                      shall be separately obtained by you, at your own cost,
                      from the appropriate telecommunications or internet access
                      service provider.
                    </li>
                  </ol>

                  <div class="termsTitle">
                    <span>20.&nbsp;</span>
                    <h4>Governing Law</h4>
                  </div>
                  <ol>
                    <li>
                      Use of the Website and/or Service and these Terms of Use
                      shall be governed by and construed in accordance with
                      Singapore law and you hereby submit to the exclusive
                      jurisdiction of the Singapore Courts.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="telFooter">
    <div class="row">
      <div class="col-sm-4">
        <p class="mb-0 px-3">
          Copyright © 2022 Televisory <span class="px-1">|</span> All Rights
          Reserved
        </p>
      </div>
      <div class="col-sm-8">
        <ul class="mb-0 text-white">
          <li class="">
            <a href="https://televisory.com/terms-of-use">Terms of Use</a>
          </li>
          <li class="">
            <a href="https://televisory.com/terms-of-access">Terms of Access</a>
          </li>
          <li class="">
            <a href="https://televisory.com/policy">Privacy Policy</a>
          </li>
          <li class="">
            <a href="https://televisory.com/sitemap">Site map </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
