.modal-dialog {
  background: #00071e;
  transform: translate(0, 0);
  width: 800px;
  height: 160px;
}

.modal-content {
  background: #00071e;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  // padding: 6px 6px;
  padding: 13px 26px;
}

.text-primary {
  color: #ffc000 !important;
}

.modal-body {
  position: relative;
  padding: 15px;
  color: #ffc000;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.close {
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 white;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1040;
//   background-color: #02132c;
//   opacity: 0.7;
// }
.mat-form-field-flex {
  background: white !important;
}

.bluebtn-dd,
a.bluebtn-dd {
  background: #ffc000;
  border: 2px solid #ffc000;
  padding: 8px 30px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  vertical-align: top;
}
