<div class="row">
    <div class="col-3">
        <h5>Country Focus</h5>
        <div class="border-cus">
            <li (click)="transactionRedirect()"> USA </li>
            <li> India </li>
            <li> China </li>
            <li> Japan </li>
        </div>
    </div>
    <div class="col-3">
        <h5>Sector Focus</h5>
        <div class="border-cus">
            <li> Pharma </li>
            <li> Technology </li>
            <li> Healthcare </li>
        </div>
    </div>
    <div class="col-6">
        <h5>Instrument Details</h5>
        <table>
            <tr>
                <th>Instrument Used</th>
                <th>Investment Type</th>
            </tr>
            <tr>
                <td>Buyout</td>
                <td>PE</td>
            </tr>
            <tr>
                <td>LBO</td>
                <td>VC Late</td>
            </tr>
        </table>
    </div>
</div>