<div class="modal p-3">
  <!-- Modal Content -->
  <div class="modal-content mx-auto">
    <div class="container-fluid">
      <div class="row mt-2">
        <h2 class="modal-title text-center">Save/Modify Screens</h2>
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <div class="row">
            <h4 class="modal-title ps-0">Modify Saved Screen</h4>
          </div>
          <div class="row mt-2">
            <ul class="saved-screen-list">
              <li
                *ngFor="let item of savedScreen; let i = index"
                (click)="handleSavedScreensClick(i, item)"
                class="cursor-pointer"
              >
                {{ item.screenName }}
                <span *ngIf="showCheckIcon && savedIndex === i"
                  ><i class="fa fa-check float-right me-2"></i
                ></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <h4 class="modal-title ps-0">Save New Screen</h4>
          </div>
          <div class="row mt-2">
            <input
              type="text"
              placeholder="New Screen Name"
              class="new-screen-name"
              (change)="handleScreenNameInputChange($event)"
            />
          </div>
        </div>
      </div>
      <div class="row justify-content-end me-2 pe-1">
        <button
          (click)="handleCancelBtnClick()"
          type="button"
          class="footer-btn active ms-4"
        >
          Cancel
        </button>
        <button
          (click)="handleSaveBtnClick()"
          type="button"
          class="footer-btn active ms-4"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
