<div class="modal p-3">
  <!-- Modal Content -->
  <div class="modal-content mx-auto">
    <div class="container-fluid">
      <div class="row my-2">
        <div class="col-12">
          <h2 class="modal-title text-center">Saved Screen</h2>
          <span
            class="close cursor-pointer"
            (click)="handleSavedScreenModalClick()"
          >
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
      <div class="row mt-3">
        <ul class="saved-screen-list">
          <li
            *ngFor="let item of savedScreen"
            (click)="handleSavedScreenItemClick(item, $event)"
            class="cursor-pointer saved-screen-list-item"
          >
            {{ item.screenName }}
            <span (click)="handleDeleteIconClick(item)"
              ><i class="fa fa-times delete-icon float-right me-2"></i
            ></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Screen Deletion Modal -->
<app-screen-deletion-modal
  *ngIf="auth.showScreenDeletionModal"
  (confirmDeletion)="handleConfirmDeletion($event)"
></app-screen-deletion-modal>
