<div class="backdrop">
  <div
    id="alertbox"
    class="modal sevendayfreetrialpopup-rtda sevendayfreetrialpopup-cm in"
    tabindex="-1"
    role="dialog"
    style="
      display: block;
      padding-left: 4px;
      background-color: rgba(0, 0, 0, 0.5);
    "
  >
    <div class="modal-dialog modal-lg" style="top: 25%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add/Modify Columns
          </h5>
          <button
            type="button"
            (click)="auth.openPopupModal = false"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--end of modal header-->
        <div class="modal-body text-center">
          <div class="row">
            <div class="col-6">
              <div class="add-metrices">
                <div class="title">Add Metrices</div>
                <div class="body">
                  <div
                    class="container"
                    *ngFor="let data of allMetrices; let i = index"
                    (click)="selectMetricesFunction(data, i)"
                  >
                    <p *ngIf="!isDetail; else detailTemp">
                      {{ transformWordFirstLetterToCapital(data.coulmn_name) }}
                    </p>
                    <ng-template #detailTemp>
                      <p>
                        {{
                          transformWordFirstLetterToCapital(data.coulmn_name) ==
                          "Instrument Name"
                            ? "Details"
                            : transformWordFirstLetterToCapital(
                                data.coulmn_name
                              )
                        }}
                      </p>
                    </ng-template>
                    <i
                      *ngIf="data.selected"
                      class="fa fa-check icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="selected-metrices">
                <div class="title">Selected Metrices</div>
                <div class="body">
                  <div
                    class="container"
                    *ngFor="let data of selectedMetrices; let i = index"
                  >
                    <p>
                      {{
                        transformWordFirstLetterToCapital(data.coulmn_name) ==
                        "Instrument Name"
                          ? "Details"
                          : transformWordFirstLetterToCapital(data.coulmn_name)
                      }}
                    </p>
                    <i
                      (click)="removeFromList(data, i)"
                      class="fa fa-close icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="confirmation-btn text-end">
            <button class="m-4 conf-btn" (click)="saveColumnOrder()">
              Confirm
            </button>
          </div>
        </div>
        <!--end of modal body-->
      </div>
    </div>
  </div>
</div>
