.modal-dialog {
  background: #00071e;
  transform: translate(0, 0);
  min-width: auto;
  height: 20rem;
}
.modal-content {
  background: #00071e !important;
}
.modal-lg {
  max-width: 80rem;
}

.modal-header {
  border-bottom: 1px solid transparent !important;
  padding-bottom: 0;
  padding: 1rem 2rem !important;
}
.modal-title {
  color: #f7bb33 !important;
  font-size: 1rem;
}
.modal-body {
  position: relative;
  padding: 15px;
  color: #ffc000;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.close {
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 white;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.text-primary {
  color: #ffc000 !important;
}
.commodityTable {
  table {
    font-weight: 400;
    font-size: 13px;

    tbody {
      display: block;
      overflow-y: auto;
    }

    #parent-table {
      border-bottom: 1px solid #528dc3;
    }

    tbody:nth-child(odd) {
      background-color: #122543;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    th {
      font-weight: 600;
      border-top: 1px solid #528dc3;
      border-bottom: 1px solid #528dc3;
      color: #ffc000;
      font-size: 12px;
      background-color: #00071e;
      padding: 3px 5px;
    }

    th:last-child {
      text-align: end;
    }

    td {
      padding: 3px 5px;
      font-size: 12px;
    }
    td:first-child {
      color: #ffc000;
    }
  }
}

.tradingview-cds-container {
  ::ng-deep iframe {
    min-height: 20rem !important;
  }
}

.cds-quote-title {
  font-size: 16px;
  color: #ffc000;
}

.cds-quote-table {
  tr:nth-child(odd) {
    background-color: #122543 !important;
  }

  tr:nth-child(even) {
    background-color: #00071e !important;
  }

  .hor-header {
    background-color: #00071e !important;
    text-align: center !important;
    padding: 10px !important;
  }

  td {
    text-align: center !important;
    padding: 35px !important;
  }

  .quote-spread {
    background-color: #122543 !important;
  }

  .ver-title {
    text-align: center;
    border: none !important;
  }

  .last-row {
    border-bottom: 1px solid #528dc3;
  }
}

// input css
.graphValue {
  color: #333 !important;
  background: #fbe5c6;
  border: 1px solid #ffc000 !important;
  float: left;
  color: #555 !important;
  width: 7rem;
  // border: 1px solid #ccc;
  height: 30px;
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
}
// ngx plugin css
::ng-deep {
  .custom-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 77px;
  }

  .custom-slider .ngx-slider {
    width: 26rem;
  }

  .custom-slider .ngx-slider .ngx-slider-bar {
    background: transparent;
    height: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: transparent;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 12px;
    height: 24px;
    top: auto;
    /* to remove the default positioning */
    bottom: 0;
    background-color: #ffc000;
    border-radius: unset;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    top: unset !important;
    bottom: -4px !important;
    border-radius: 0px !important;
    width: 2px !important;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    // display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 3px;
    gap: 3px;
    position: initial;
    z-index: 99;
    width: 1px;
    height: 14px;
    background-color: #d9d9d9;
    margin: 4px 0 0 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer::before {
    // display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 3px;
    gap: 3px;
    position: initial;
    z-index: 99;
    width: 1px;
    height: 14px;
    background-color: #d9d9d9;
    margin: 6px 0 0 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 1px;
    margin-left: 4px;
    border-radius: 50%;
    background: #ffc000;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    display: none;
  }

  // .custom-slider .ngx-slider .ngx-slider-bar-wrapper{
  //   width: 250px;
  // }

  .horizontalLine {
    width: 1px;
    height: 14px;
    background-color: #d9d9d9;
  }
}
