<div class="modal p-3">
  <div class="close cursor-pointer" (click)="handleChartModalClick()">
    <i class="fa fa-times"></i>
  </div>
  <!-- Modal Content -->
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row mt-4">
        <h2 class="modal-title">
          {{ chartModalTitle }} VC/PE Funding by Industry
        </h2>
      </div>
      <div class="row mt-5">
        <div id="fundsSectorPieChartDiv" class="modal-chart"></div>
      </div>
    </div>
  </div>
</div>
