svg {
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
  overflow: visible;
}

#chartdivtrend {
  width: 50px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  // position: fixed;
  // top: -1000px;
}
