<header class="header-toolbar">
  <div class="row bg-white py-1">
    <div class="col-sm-12">
      <img
        src="../../../../assets/img/logo.png"
        alt="Logo"
        class="logo px-5 img-fluid"
      />
    </div>
  </div>
</header>

<div class="container-fluid signUp-box px-0">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="signUp-header mb-3">
        Televisory's Financial Market Data Subscription Plans
      </h3>
      <p>Select a plan best suited to your data and analytical needs</p>
      <h6>(Get complimentary subscription of Real Time Data Analytics)</h6>
    </div>
  </div>
  <div class="row px-4 my-4">
    <div class="col-5 firstSection">
      <h6 class="mb-0">Features (Unlimited Access)</h6>
      <ul class="ps-0 mb-0">
        <li>Financial and Valuation Data</li>
        <li>Economic, Forex and Commodity Data</li>
        <li>Shareholding & Management Data</li>
        <li>Debt Profile</li>
        <li>Fixed Income and Derivatives</li>
        <li>M&A, PE/VC and IPO</li>
        <li>Company Profiling</li>
        <li>Screener and Dynamic Watchlist</li>
        <li>Industry Monitor</li>
        <li>Data Download</li>
      </ul>
    </div>
    <div class="col-7">
      <app-signup-form></app-signup-form>
    </div>
  </div>
  <footer class="container-fluid telFooter">
    <div class="row">
      <div class="col-sm-4">
        <p class="mb-0 px-3">
          Copyright © 2022 Televisory <span class="px-1">|</span> All Rights
          Reserved
        </p>
      </div>
      <div class="col-sm-8">
        <ul class="mb-0 text-white">
          <li class="">
            <a href="https://televisory.com/terms-of-use">Terms of Use</a>
          </li>
          <li class="">
            <a href="https://televisory.com/terms-of-access">Terms of Access</a>
          </li>
          <li class="">
            <a href="https://televisory.com/policy">Privacy Policy</a>
          </li>
          <li class="">
            <a href="https://televisory.com/sitemap">Site map </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
