<app-user-management-header></app-user-management-header>

<section class="forgot-password-section">
  <!-- reset password -->
  <form
    [formGroup]="resetForm"
    (ngSubmit)="resetAccess(resetForm.valid, resetForm.value)"
    class="row forgot-password-container"
  >
    <div class="col-12">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h2 class="forgot-password-title">Reset Password</h2>
        </div>
      </div>
      <div class="row">
        <div *ngIf="message" class="alert alert-secondary" role="alert">
          {{ message }}
        </div>
        <div class="col-12">
          <div class="padding-input">
            <input
              class="form-control shadow-none mb-3"
              type="password"
              formControlName="password"
              [placeholder]="'password'"
            />
            <p
              *ngIf="
                resetForm.controls['password']?.touched &&
                resetForm.controls['password'].hasError('required') &&
                !resetForm.value.password
              "
              class="fw600 text-danger mt-2 mb-2"
            >
              Password must be alphanumeric with at least 6 characters. Special
              characters are not allowed.
            </p>
          </div>
          <div class="padding-input">
            <input
              class="form-control shadow-none"
              type="password"
              formControlName="conform_password"
              [placeholder]="'conform password'"
            />
            <p
              *ngIf="
                resetForm.value.conform_password &&
                resetForm.value.password != resetForm.value.conform_password
              "
              class="fw600 text-danger mt-2 mb-2"
            >
              Password does not match
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <button type="submit" class="form-btn forgot-submit-btn">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>

  <!-- reset password -->
  <footer class="container-fluid telFooter">
    <div class="row">
      <div class="col-sm-4">
        <p class="mb-0 px-3">
          Copyright © 2022 Televisory <span class="px-1">|</span> All Rights
          Reserved
        </p>
      </div>
      <div class="col-sm-8">
        <ul class="mb-0 text-white">
          <li class="">
            <a href="https://televisory.com/terms-of-use">Terms of Use</a>
          </li>
          <li class="">
            <a href="https://televisory.com/terms-of-access">Terms of Access</a>
          </li>
          <li class="">
            <a href="https://televisory.com/policy">Privacy Policy</a>
          </li>
          <li class="">
            <a href="https://televisory.com/sitemap">Site map </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</section>
