.user-dropdown-menu li {
  display: inline-block;
  color: #000;
  font-size: 17px !important;
  list-style: none;
  padding: 3px 31px;
  cursor: pointer;
  position: relative;
}
.dropdown {
  background-color: #fff;
  position: absolute;
  top: 27px;
  right: -48px;
  height: 275px;
  width: 570px;
  z-index: 12;
  padding: 5px 5px;
  span {
    height: 100%;
    width: 100%;
    display: flex;
    b {
      border: solid 0.5px #e0d3d3;
    }
    span {
      flex: 1;
      margin: 0px 5px;

      display: flex;
      flex-direction: column;
      .diff {
        background-color: #437193;
      }
      h4 {
        font-size: 22px;
        padding-bottom: 7px;
        color: #444;
        margin: 0px;
        font-weight: normal;
      }
      b {
        border: solid 0.3px #e0d3d3;
      }
      h3 {
        color: #444;
        font-size: 14px;
        margin: 0px;
        margin: 10px 0px;
      }
      a {
        background-color: #465560;
        margin: 0px 5px;
        margin-top: 5px;
        padding: 5px 20px;
        border-radius: 20px;
      }
    }
  }
}
.active {
  border-bottom: 2px solid #2dc997;
  color: #000;
}

.user-dropdown-menu li a {
  text-decoration: none;
  color: #000;
}
.forgot-password-section {
  height: 100vh;
}

.forgot-password-container {
  background-color: #022360;
  height: 70%;
  overflow: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-title {
  color: #fff;
  font-family: "Impact";
  font-size: 35px;
  font-weight: normal;
}

.forgot-submit-btn {
  background: #158d71;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  color: #fff;
}

.sub-heading {
  font-size: 18px;
}

footer {
  margin-top: auto;
}

footer.telFooter {
  background-color: #002060;
  border-top: 1px solid #204184;
  clear: both;
  color: #fff !important;
  padding: 10px 0 5px;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  height: 100%;

  ul {
    list-style: none;
    float: right;
    text-align: center;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #fff;
        padding: 0 10px;
      }
    }

    li:after {
      content: "|";
      font-weight: 600;
      color: #fff;
    }

    li:last-child::after {
      visibility: hidden;
    }
  }
}

.form-btn:hover {
  background-color: #0daa8e;
}

.login-link {
  text-decoration: underline;
  color: #491004;
}

.padding-input {
  padding: 0 30rem;
}
