.modal {
  display: block;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
}

.modal-dialog-style {
  width: 95%;
  margin: 1.75rem auto;
}

/* Modal Content */
.modal-content {
  background: #00071e !important;
  padding: 0px 10px !important;
  width: 100% !important;
}

.text-primary {
  color: #ffc000 !important;
}

.popup-header {
  font-size: 18px;
  color: #ffc000;
}

.close {
  position: absolute;
  top: -33px;
  right: 0;
  color: white;
  opacity: 1;
  background: 0;
  border: 0;
  font-size: 20px;
}

.align-center {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.cusSelect2_10rem {
  .select2.select2-container {
    width: 10rem !important;
  }
}
